@font-face {
  font-family: "Belwe Medium";
  src: url(../fonts/OPTIBelwe-Medium.otf);
}

:root {
  --primary-color: rgb(88, 60, 34);
  --secondary-color: rgb(235, 235, 213);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/parchment.jpg);
  background-size: cover;
}
